<%- include('./layout.ejs'); %>

<main class="container">
    <h1 class="text-center"><%- title %></h1>

    <div class="row">
        <div class="col-md-8">
            <section id="message-container">
                <ul id="messages" class="list-unstyled">
                    <% messages.forEach(message => { %>
                    <li class="message"><%= message %></li>
                    <% }) %>
                </ul>
            </section>
        </div>

        <div class="col-md-4">
            <section id="user-list">
                <h2>Online Users</h2>
                <ul id="online-users" class="list-unstyled">
                    <% onlineUsers.forEach(user => { %>
                    <li class="user"><%= user %></li>
                    <% }) %>
                </ul>
            </section>
        </div>
    </div>
</main>

<footer class="container">
    <form id="message-form" action="/send-message" method="post" class="row">
        <input type="text" id="message-input" name="message" placeholder="Type your message..." class="col-md-8 form-control">
        <button type="submit" class="col-md-4 btn btn-primary">Send</button>
    </form>
</footer>
