<%- include('./layout.ejs'); %>
<head>
    <link rel="stylesheet" href="../public/stylesheets/chat.css">
</head>
<main class="chat-container">
    <h1 class="text-center"><%- title %></h1>

    <div class="chatbox">
      <ul id="messagelist"></ul>
      <form class="Input">
        <input type="text" placeholder="Type your message ..." />
        <button>Send</button>
      </form>
    </div>
    <br />
    <div class="activeusers">
      <h2>Active Users</h2>
      <ul id="users"></ul>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="../public/javascripts/chatEvents.js" curUser='<%- currentUser %>'></script>
</main>
