<footer class="footer mt-auto py-3" style="position: fixed; bottom: 0; width: 100%;">
    <div class="container">
        <span class="text-muted">© 2024 BanterBox. All rights reserved.</span>
    </div>
</footer>
